In [2]:
import pandas as pd
import csv

In [132]:
#I needed to see what index the year columns started with after concatonation in order to slice the dataframe.
pd.set_option('display.max_columns', None)

# Concatonate CSV Files

In [4]:
#Make a collection containing all of the filenames of the csvs that were saved earlier
all_filenames=[]
for year in range(1935,2021):
    all_filenames.append(f"team_offense{year}.csv")
#Concatonate the csvs together using list comprehension and filenames list
#Each file in the collection will be read into and stored in a dataframe
#Skiprows=2 removes the headers I don't care about before writing to csv
combined_csv = pd.concat([pd.read_csv(f,skiprows=2) for f in all_filenames])

#Write the combined dataframe to csv
combined_csv.to_csv("combined_offense.csv")

# Clean Data

In [16]:
combined_csv=pd.read_csv("combined_offense.csv")

In [18]:
#This slice of the dataframe has all the years
year_col=combined_csv.iloc[:,28:]
year_col2=year_col.stack().dropna(axis=0)
#year_col.dropna(axis=0)
#I need to stack columns to consolidate and drop na values
year_col2["year"]=pd.DataFrame(year_col.stack().dropna(axis=0))

In [19]:
#store the values as an array
years=year_col2["year"].values

In [23]:
#Add the array containing the year values into the dataframe
combined_csv["year"]=years

In [21]:
#I need to drop the columns that I combined into the year array.
#29 is where it starts 114 is the last col to drop so stop slice at 115. Save df slice as variable and then drop.
col_to_drop=combined_csv.iloc[:,29:115]
test_1=combined_csv.drop(col_to_drop,axis=1)
offense_df=test_1.drop(test_1.iloc[:,0:3],axis=1)

# Rename Columns

In [25]:
#I need to rename columns to avoid ambiguity. The context is lost from the website headers.
offense_df.columns = ['Tm', 'G', 'PF', 'Total_Yds', 'Ply', 'Y/P', 'TO', 'FL', 'Total_1stD', 'Cmp', 'Pass_Att',
       'Pass_yds', 'Pass_TD', 'Int', 'NY/A', 'Pass_1stD', 'Rush_Att', 'Rush_Yds', 'Rush_TD', 'Y/A',
       'Rush_1stD', 'Pen', 'Penalty_Yds', 'Penalty_1stD', 'Sc%', 'TO%', 'Year']

In [158]:
#Confirm column names changed.
offense_df.head()

,Tm,G,PF,Total_Yds,Ply,Y/P,TO,FL,Total_1stD,Cmp,Pass_Att,Pass_yds,Pass_TD,Int,NY/A,Pass_1stD,Rush_Att,Rush_Yds,Rush_TD,Y/A,Rush_1stD,Pen,Penalty_Yds,Penalty_1stD,Sc%,TO%,Year
0,Chicago Bears,12.0,192.0,3317.0,760.0,4.4,21.0,0.0,140.0,73.0,221.0,1221.0,13.0,21.0,5.5,NaN,539.0,2096.0,13.0,3.9,140.0,0.0,354.0,NaN,NaN,NaN,1935.0
1,Detroit Lions,12.0,191.0,2693.0,674.0,4.0,20.0,0.0,121.0,57.0,142.0,920.0,9.0,20.0,6.5,NaN,532.0,1773.0,15.0,3.3,121.0,0.0,195.0,NaN,NaN,NaN,1935.0
2,Green Bay Packers,12.0,181.0,3011.0,678.0,4.4,27.0,0.0,125.0,93.0,230.0,1449.0,11.0,27.0,6.3,NaN,448.0,1562.0,7.0,3.5,125.0,0.0,295.0,NaN,NaN,NaN,1935.0
3,New York Giants,12.0,180.0,2400.0,651.0,3.7,19.0,0.0,112.0,69.0,154.0,947.0,10.0,19.0,6.1,NaN,497.0,1453.0,9.0,2.9,112.0,0.0,175.0,NaN,NaN,NaN,1935.0
4,Pittsburgh Pirates,12.0,100.0,1504.0,561.0,2.7,40.0,0.0,64.0,67.0,234.0,996.0,5.0,40.0,4.3,NaN,327.0,508.0,4.0,1.6,64.0,0.0,201.0,NaN,NaN,NaN,1935.0

In [159]:
#Save the cleaned dataframe to csv
offense_df.to_csv("clean_offense_stats.csv")